*, ::before, ::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  background-size: cover;
  background-image: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  display: flex;
  align-items: center;
}

.sidebar {
  background-color: white;
  width: max-content;
  border-radius: 10px;
  padding: 2rem 1rem;
}

.sidebar:hover .sidebar__element {
  grid-template-columns: 40px 1fr;
}

.sidebar__list {
  list-style: none;
  padding: 0;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  gap: .4rem;
}

.sidebar__element {
  padding: .8rem 1.3rem;  
  border-radius: 3px;
  display: grid;
  align-items: center;
  grid-template-columns: 40px 0fr;
  color: #526581;
  fill: #8491a5;  

  transition: grid-template-columns .4s;
}

/* .sidebar__element:not(.sidebar__element--logo):hover { */
.sidebar__element:not(:has(.sidebar__icon--logo)):hover {
  background-color: #007aff;
  color: white;
  fill: white;
  cursor: pointer;
}

.sidebar__element:has(.sidebar__icon--logo) {
  margin-bottom: 1rem;
}

.sidebar__icon {
  max-width: 100%;
  overflow: hidden;
  justify-self: center;
}

.sidebar__icon--logo {
  max-width: 30px;
}

.sidebar__logo, .sidebar__text {
  padding-left: 1.3rem;
}

.sidebar__hide {
  overflow: hidden;
}

.sidebar__icon--avatar {
  width: 40px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}

.sidebar__element--avatar {
  margin-top: auto;
  text-wrap: nowrap;
  text-align: left;
}

.sidebar__title, .sidebar__info {
  padding-left: 1.3rem;  
}