.shelf{
  width: 310px;
  height:120px;  
  margin:40px;
  position:absolute;
  bottom: 36%;

  display: flex;
  align-items: flex-end;
  align-self: center;
  justify-content: center;
  gap: 8px;

  z-index: 3;
  /*background-color: red; */
}

body[data-theme="light"] .shelf {
  border-bottom:8px solid #979a94ff;
}

body[data-theme="dark"] .shelf {
  border-bottom:8px solid  #262838ff;
}

/* Gameboy oculto al inicio */
#gameboy-slot{
position:relative;
display:inline-block;
width: 60px;
height: 80px;
display:flex;
align-items:flex-end;
justify-content:center;
}

.memory-badge{

position:absolute;
bottom:80px;
left:50%;

transform:translateX(-50%) scale(.8);

padding:4px 10px;

font-size:11px;
font-family:monospace;

background:rgba(0,0,0,.75);
color:#00ff9c;

border:1px solid rgba(0,255,150,.6);
border-radius:6px;

opacity:0;
pointer-events:none;

box-shadow:0 0 10px rgba(0,255,150,.3);

transition:all .35s ease;
}
.memory-badge.show{

opacity:1;

transform:translateX(-50%) scale(1);

animation:memoryPulse 2s ease infinite;
}

@keyframes memoryPulse{

0%,100%{
box-shadow:0 0 8px rgba(0,255,150,.25);
}

50%{
box-shadow:0 0 16px rgba(0,255,150,.6);
}

}

#gameboy{
  width: 70px;
  position:absolute;
  bottom: 0;
  left:50%;
  transform:translateX(-50%);
  /*display:none; */
  cursor:pointer;
  transition:all .4s ease;
  transform-origin: bottom center;
}

#gameboy.locked{
filter:grayscale(1) brightness(.5);
opacity:.4;
pointer-events:none;
}

#gameboy.unlocked{
filter:none;
opacity:1;
animation:gameboyUnlock 1s ease;
}

#gameboy.unlock-animation{
animation:gameboyGlow 1.6s ease;
}

@keyframes gameboyGlow{

0%{
transform:translateX(-50%) scale(.7);
opacity:0;
filter:brightness(3);
}

40%{
transform:translateX(-50%) scale(1.15);
filter:brightness(2);
}

70%{
transform:translateX(-50%) scale(.95);
}

100%{
transform:translateX(-50%) scale(1);
opacity:1;
}

}

@keyframes gameboyUnlock{
0%{
transform:translateX(-50%) scale(.7);
opacity:0;
}

100%{
transform:translateX(-50%) scale(1);
opacity:1;
}
}


.digital-clock{

width:90px;
height:40px;

display:flex;
align-items:center;
justify-content:center;

align-self:flex-end;

margin-left:14px;

background:#111;
border:2px solid #2c2c2c;
border-radius:6px;

box-shadow:
inset 0 0 6px rgba(0,0,0,.8),
0 0 6px rgba(0,255,120,.15);

font-family:monospace;
font-size:18px;

color:#00ff9c;
letter-spacing:2px;
}

.digital-clock span{
display:block;
}
