body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#tarea-form {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#tareas-listado {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#tareas-listado li {
    margin-bottom: 10px;
}