
body[data-theme="dark"]{

--color-text-primary:#f5f5f5;
--color-text-secondary:#aaa;

--nav-bg:rgba(0,0,0,.35);

}

body[data-theme="light"]{

--color-text-primary:#111;
--color-text-secondary:#555;

--nav-bg:rgba(255,255,255,.35);

}
