* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body {
  width: 90%;
  margin: 0 auto;
}

.box {
  display: block;
  background: steelblue;
  width: 55px;
  height: 55px;
  margin: 10px auto;
  margin-left: 5px;
  text-align: center;
  line-height: 55px;  
  color: white; 
  font-weight: bold;
}

.container {
  margin-left: -5px;
  padding: 10px 0;
  border: 3px solid lightcoral;
}

/* Por su tipo | Único de su tipo */

/* .box:only-of-type {
  background: tomato;
} */

/* .box:first-of-type {
  background: tomato;
} */

/* .box:last-of-type {
  background: tomato;
} */

/* .box:nth-of-type(2n) {
  background: tomato;
} */

/*
2*0=0
2*1=2
2*2=4
2*3=6
*/

/* even | odd */
/* .box:nth-last-of-type(2) {
  background: tomato;
} */

/* .box:only-child {
  background: tomato;
} */

/* div:first-child {
  background-color: tomato;
} */

/* div:last-child {
   background-color: tomato;
} */

/* div:nth-child(2) {
  background-color: tomato;
} */

.container :nth-child(2) {
   background-color: tomato;
}