:root {
  --primary-color: #32323a;
  --line-color: #70708b;
}

body {
  background: #1f1f23;
  color: white;
  font-family: Poppins, Tahoma, sans-serif;
}

select {
  appearance: base-select;
  background-color: rgb(34, 3, 3);
}

::picker(select) {
  appearance: base-select;
  border-radius: .25em;
  background-color: var(--primary-color);
  color: white;
}

select::picker-icon {
  font-size: .65rem;
  align-content: center;
  transition: 150ms ease;
  content: "💀"
}

select:open::picker-icon {
  rotate: 180deg;
}

select option {
  padding: .25em;
}

select option:checked {
  background-color: var(--line-color);
}

select option::checkmark {
  color: greenyellow;
  content: "👌"
}

select selectedcontent {
  color: red;
}