body {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
}

.box {
  background-color: #0071ff;
}

.grid-container {
  display: grid;
/*   grid-template-columns: repeat(4, 200px);
  grid-template-rows: 200px 200px; */
  grid-auto-columns: 200px;
  grid-auto-rows: 200px;
  gap: 1em;
  grid-template-areas: 
    "box-1 box-2 box-2 box-3"
    "box-1 box-4 box-5 box-5";
}

.box:nth-of-type(1){
  grid-area: box-1;
}
.box:nth-child(2) {  
  grid-area: box-2;
}
.box:nth-child(3) {  
  grid-area: box-3;
}
.box:nth-child(4) {  
  grid-area: box-4;
}
.box:nth-child(5) {    
  grid-area: box-5;
}

@media (max-width: 56em) {
  .grid-container {
/*     grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px; */
    grid-template-areas:
    "box-1 box-1 box-2"
    "box-1 box-1 box-3"
    "box-4 box-5 box-5";
  }
}

@media (max-width: 42em) {
  .grid-container {
    /* grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px 200px 200px; */
    grid-template-areas:
    "box-1 box-2"
    "box-3 box-2"
    "box-3 box-4"
    "box-5 box-4";
  }
}