
body[data-theme="dark"]{

--color-text-primary:#f5f5f5;
--color-text-secondary:#aaa;
--text-primary:#f5f5f5;
--text-secondary:#a1a1a1;
--border-color:#444;
--nav-bg:rgba(0,0,0,0.35);

}

body[data-theme="dark"]::before{
content:"";
position:fixed;
inset:0;
background:
radial-gradient(circle at center,
rgba(60,80,120,.25) 0%,
rgba(25,25,35,.7) 45%,
rgba(8,8,12,1) 85%);
z-index:-2;
}

body[data-theme="dark"]::after{
content:"";
position:fixed;
inset:0;
background-image:
linear-gradient(rgba(255,255,255,.03) 1px, transparent 1px),
linear-gradient(90deg, rgba(255,255,255,.03) 1px, transparent 1px);
background-size:70px 70px;
z-index:-1;
}

body[data-theme="light"]::before{
content:"";
position:fixed;
inset:0;
background:
radial-gradient(circle at center,
rgba(255,255,255,.6) 0%,
rgba(240,240,245,.6) 45%,
rgba(220,225,235,.9) 85%);
z-index:-2;
}

body[data-theme="light"]::after{
content:"";
position:fixed;
inset:0;
background-image:
linear-gradient(rgba(0,0,0,.03) 1px, transparent 1px),
linear-gradient(90deg, rgba(0,0,0,.03) 1px, transparent 1px);
background-size:70px 70px;
z-index:-1;
}